@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: white;

  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #ffffff;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
::selection {
  background: #0080ff;
  text-shadow: none;
}

.tv-static::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.tv-static {
  margin: auto;
  background-image: url(https://i.redd.it/h06kxz4llgq41.gif);
  transform: translate3d(0, 0, 0);
}

@keyframes back {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  /* position: relative; */
  color: black;
  text-shadow: 0.05em 0 0 #0e6b0e, -0.03em -0.04em 0 #9ccc9c,
    0.025em 0.04em 0 #149414;
  animation: glitch 725ms infinite;
}

.glitch span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #0e6b0e, -0.03em -0.04em 0 #9ccc9c,
      0.025em 0.04em 0 #149414;
  }
  15% {
    text-shadow: 0.05em 0 0 #0e6b0e, -0.03em -0.04em 0 #9ccc9c,
      0.025em 0.04em 0 #149414;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #0e6b0e, 0.025em 0.035em 0 #9ccc9c,
      -0.05em -0.05em 0 #149414;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #0e6b0e, 0.025em 0.035em 0 #9ccc9c,
      -0.05em -0.05em 0 #149414;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #0e6b0e, 0.03em 0 0 #9ccc9c,
      0 -0.04em 0 #149414;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #0e6b0e, 0.03em 0 0 #9ccc9c,
      0 -0.04em 0 #149414;
  }
  100% {
    text-shadow: -0.05em 0 0 #0e6b0e, -0.025em -0.04em 0 #9ccc9c,
      -0.04em -0.025em 0 #149414;
  }
}

.crt:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(16, 18, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(4, 168, 59, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

.scanline:nth-child(2n) {
  animation-delay: -10s;
}
.scanline:nth-child(2n + 1) {
  animation-delay: -30s;
}
.scanline:nth-child(3n) {
  animation-delay: -20s;
}
.scanline:nth-child(5n) {
  animation-delay: -40s;
}
.scanline:nth-child(7n) {
  animation-delay: -15s;
}
@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}
